/* Start all element */
:root {
    --black: #2d3436;
    --chocolate: #e17055;
    --blue: #0984e3; 
    --gray: #636e72; 
    --yellow: #ffeaa7;
    --gill_sans: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Start of body */
body {
    background-color: #339;
    font-family: var(--gill_sans);
    display: inline-block;
    margin: 12px;
}
/* End of body */

/* Start of header class and tags */

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

header {
    padding: 52px 25px;
    background-color: black;
    color: chocolate;
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
}

header h1 {
    display: inline-block;
    font-size: 36px;
    padding: 5px;
    width: 130px;
    height: 30px;
}

header nav {
    float: right;
    margin: 17px 0;
    padding: 15px 10px;
    position: relative;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-right: 0px;
}

header nav ul li {
    font-size: 1.8vm;
    padding: 10px 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}

header nav ul li a {
    font-size: large;
}

.avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-top: 0.8%;
}

header a {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    border-bottom: 2px solid white;
}

.hero {
    flex-flow: column wrap;
    position: relative;
    width: 100%;
}

.hero h2 {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    border-right: solid 1px white;
}

.hero-cta div{
    justify-content: space-between;
}

.hero-cta h2 {
    font-size: 36px;
    text-decoration: none;
    border-bottom: 5px solid white;
    padding: 100px 328px;
    background-color: gray;
    color: chocolate;
}

.hero-cta img {
    width: 100%;
    height: 300px;
}

.hero div p {
    display: inline-block;
    flex-wrap: wrap;
    padding: 40px;
    margin: 22px;
}

article div {
    align-items: center;
}

article div h2 {
    padding-right: 36px;
}

article div p {
    display: flex;
    flex-flow: column wrap;
    padding-right: 12px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box div {
    flex: 1 0 0;
    width: 800px;
    height: 400px;
}

.contact {
    align-items: stretch;
    display: contents;
}

.contact a:link {
    color: greenyellow;
    text-decoration: none;
}

.contact a:hover {
    color: lightsalmon;
    text-decoration:khaki;
}

.pictures {
    flex: 1 0 0;
    width: 300px;
    height: 300px;
}

/* #run-buddy {
    justify-content: center;
    align-content: space-between;
} */

#run-buddy img {
    transition: transform .5s ease-in-out;
}

#run-buddy:hover {
    transform: scale(1.2);
}

#horiseon img {
    transition: transform .5s ease-in-out;
}

#horiseon:hover {
    transform: scale(1.2);
}

#html-css img {
    transform: scale(1.2);
}

#html-css:hover {
    transition: transform .5s ease-in-out;
}

/* Footer styles starts */
footer {
    background:darkgoldenrod;
    width: 100%;
    padding: 2px 8px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: black;
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: green;
}
/* Footer styles Ends */

/* Media query for smaller desktop screens */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 70px;
        justify-content: space-between;
        position: relative;
    }

    header h1 {
        width: 18%;
        text-align: center;
    }

    .contact {
        align-items: stretch;
        display: contents;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    
    article div {
        align-items: stretch;
        display: contents;
    }
  }


/* MEDIA QUERY FOR Tablets and smaller */
@media screen and (max-width: 768px) {
    .box {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    header {
        padding-bottom: 70px;
        justify-content: space-between;
        position: relative;
    }

    header h1 {
        width: 18%;
        text-align: center;
    }

    .contact {
        align-items: stretch;
        display: contents;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    
    article div {
        align-items: stretch;
        display: flex;
    }
  }